.buy-stocks {

	padding-bottom: 24px;

	@include _992 {
		padding-bottom: 0;
	}

	// .buy-stocks__hero

	&__hero {
		display: grid;
		gap: 10px;

		@include _550 {
			gap: 20px;
		}

		@include _container {
			grid-template-columns: 2fr 1fr;
		}
	}

	// .buy-stocks__block

	&__block {

		border-radius: 16px;
		background: #161525;
		padding: 16px;
		@include _550 {
			padding: 21px 30px;
		}

		// .buy-stocks__block--title

		&--title {
			font-weight: 700;
		}
	}

	// .buy-stocks__about

	&__about {

		// .buy-stocks__about--forward-link

		&--forward-link {
			font-size: 0.875rem;
			font-weight: 500;

			display: inline-flex;
			align-items: center;

			color: var(--text-color);
			

			svg {
				flex: 0 0 19px;
				margin-right: 9px;
			}
		}

		// .buy-stocks__about--header

		&--header {
			@include _768 {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}

			padding-top: 20px;
		}

		// .buy-stocks__about--stock

		&--stock {
			display: grid;
			grid-template-columns: 70px auto;

			font-size: 0.875rem;
			line-height: 150%;

			h3 {
				grid-column: 2;
				font-weight: 500;
				
			}

			b {
				grid-column: 2;
			}
		}

		// .buy-stocks__about--logo

		&--logo {
			grid-column: 1; grid-row: 1/3;
			margin-right: 18px;
		}

		// .buy-stocks__about--price

		&--price {
			//grid-column: ;
			padding-top: 18px;
			@include _768 {
				text-align: right;
				padding-top: 0;
			}

			b {
				display: block;
			}

			strong {
				padding-right: 10px;
			}
		}

		// .buy-stocks__about--info

		&--info {
			padding-top: 15px; margin-top: 15px;
			border-top: 1px solid rgba(255, 255, 255, 0.05);

			@include _768 {
				grid-template-columns: 1fr 1fr 1fr;
			}

			align-self: self-end;

			display: grid;
			gap: 8px;
			

			li {
				padding: 10px 0;

				border-radius: 13px;

				display: flex;
				align-items: center;
				justify-content: space-between;

				@include _768 {
					padding: 10px 19px;
					background: var(--theme-shade-1);
					display: block;
				}

				h3 {
					font-weight: 700;
					padding-bottom: 15px;

					flex: 1 1 auto;
				}

				strong {
					font-size: 1.125rem;
					
					@include _768 {
						font-size: 1.25rem;
					}
					
					@include _992 {
						font-size: 1.5rem;
					}
					line-height: 110%;
					font-family: var(--title-font);
	
					padding-right: 10px;
				}


			}
		}

		// .buy-stocks__about--same

		&--same {
			padding-top: 19px;

			h3 {
				font-size: 0.875rem;
			}

			ul {
				padding-top: 5px;

				display: grid;
				@include _550 {
					grid-template-columns: 1fr 1fr;
				}
				@include _768 {
					grid-template-columns: 1fr 1fr 1fr;
				}

				@include _992 {
					grid-template-columns: 1fr 1fr;
				}
				@media (min-width: 1400px) {
					grid-template-columns: 1fr 1fr 1fr;
				}
				gap: 20px;
			}

			li {
				a {
					display: grid;
					grid-template-columns: 48px auto;

					font-size: 0.75rem;

					h4 {
						align-self: self-end;
					}

					b {
						font-weight: 500;
						color: var(--text-color);
					}
				}
			}
		}

		// .buy-stocks__about--same-logo

		&--same-logo {
			grid-column: 1; grid-row: 1/3;
			margin-right: 18px;
			align-self: center;
		}
	}

	// .buy-stocks__percent

	&__percent {
		font-size: 1rem;
		white-space: nowrap;

		@include _992 {
			font-size: 1.125rem;
		}

		&._up {
			fill: var(--success);
			color: var(--success);
		}

		&._down {
			fill: var(--danger);
			color: var(--danger);

			svg {
				transform: scaleY(-1);
			}
		}

		svg {
			margin-right: 5px;
			flex: 0 0 16px;
		}
	}

	// .buy-stocks__aside

	&__aside {

		&--title {
			margin-bottom: 15px;
		}

		// .buy-stocks__aside--select

		&--select {
		}

		// .buy-stocks__aside--row

		&--row {
			padding-top: 11px;

			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 12px;

			input {
				min-height: 64px;
				&:not([readonly]) {
					background: transparent;
				}
			}
		}

		// .buy-stocks__aside--submit

		&--submit {
			margin-top: 11px;
			width: 100%;
		}
	}

}

.stocks-chart {

	margin-top: 20px;

	.canvasjs-chart-credit {
		display: none;
	}

	.canvasjs-chart-toolbar {
		display: none;
	}
	
	@include _992 {
		display: grid;
		grid-template-columns: 50px auto;
	}

	// .stocks-chart__header

	&__header {
		grid-column: 2 span;

		display: flex;
		align-items: center;

		padding: 7px;
		@include _992 {
			padding: 7px 7px 7px;
		}

		@include _container {
			padding: 7px 7px 7px 50px;
		}

		border-radius: 12px;
		//background: var(--stroke);

		// .stocks-chart__header--col

		&--col:not(:last-child) {
			flex: 1 1 auto;
		}
	}

	// .stocks-chart__aside

	&__aside {
		grid-column: 1;

		margin-top: 10px;
		border-radius: 8px;

		&--list {
			min-height: 100%;

			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;

			padding: 10px 0;

			button {
				background: transparent;
				padding: 5px;

				img {
					opacity: .5;
					transition: opacity .3s ease;
				}

				&.active img {
					//filter: invert(19%) sepia(95%) saturate(3057%) hue-rotate(231deg) brightness(95%) contrast(93%);
					opacity: 1;
				}
			}
		}
	}

	// .stocks-chart__main

	&__main {

		position: relative;

		@include _992 {
			border-radius: 35px;
			overflow: hidden;
		}

		.canvasjs-chart-tooltip {
			opacity: 0; visibility: hidden;
		}
		
		#chartContainer {
			height: 450px;
			@include _768 {
				height: 650px;
			}
		}
		grid-column: 2;

		> div {
			width: 100%;
		}
	}

	// .stocks-chart__ranger

	&__ranger {

		display: inline-flex;
		padding: 8px;
		border-radius: 7px;
		background: var(--white-opacity-05);

		@include _992 {
			padding: 0;
			background: transparent;
		}

		// .stocks-chart__ranger--button

		&--button {
			display: block;
			
			&:not(:last-child) {
				margin-right: 8px;
			}

			@include _992 {
				padding: 10px;
				&:not(:last-child) {
					margin-right: 0px;
				}
			}

			@include _container {
				padding: 10px 15px;
			}

			background: transparent;

			cursor: pointer;

			user-select: none;

			input:checked + span {
				color: var(--success);
				background: var(--white-opacity-05);
				
				@include _992 {
					background: transparent;
				}
			}

			span {
				display: block;
				padding: 4px 7px;
				border-radius: 4px;
				@include _992 {
					display: inline;
					background: transparent;
					padding: 0;
				}
				transition: color .2s ease, background .2s ease;
			}
		}
	}

	// .stocks-chart__row-tool-list

	&__row-tool-list {
		display: flex;
		flex-wrap: wrap;

		> li {
			padding: 0 5px;
		}

		> li > button {
			background: transparent;

			display: inline-flex;
			align-items: center;

			color: var(--text-color);

			font-size: 0.875rem;

			@include _container {
				font-size: 1rem;

				> picture + span, > img + span {
					margin-left: 10px;
				}

				img {
					margin-left: 10px;
				}
			}

			> picture + span, > img + span {
				margin-left: 5px;
			}

			img {
				margin-left: 5px;
			}
		}
	}

	// .stocks-chart__drop-down

	&__drop-down {
		
		position: relative;

		&._active & {
			&--target {
				svg {
					transform: scaleY(-1);
				}
			}

			&--list {
				opacity: 1; visibility: visible;
			}
		}

		// .stocks-chart__drop-down--target

		&--target {
			background: transparent;

			display: inline-flex;
			align-items: center;

			color: var(--text-color);
			fill: var(--text-color);

			font-size: 0.875rem;

			@include _container {
				font-size: 1rem;

				img {
					margin-right: 10px;
				}
	
				span {
					padding-right: 10px;
				}
			}

			img {
				margin-right: 5px;
			}

			span {
				padding-right: 5px;
			}

			svg {
				transition: transform .2s ease;
			}
		}

		// .stocks-chart__drop-down--list

		&--list {
			position: absolute;
			left: 0; top: calc(100% + 10px);
			width: 100%;

			z-index: 2;

			background: var(--theme-shade-2);
			border: 1px solid var(--theme-shade-1);

			border-radius: 8px;

			padding: 7.5px 0;

			transition: opacity .2s ease, visibility .2s ease;
			opacity: 0; visibility: hidden;

			button {
				background: transparent;
				padding: 5px 15px;
				color: var(--text-color);

				width: 100%;

				transition: background .2s ease;
				@media (any-hover: hover) {
					&:hover {
						background: var(--accent-transparent);
					}
					
					&:active {
						background: var(--accent-transparent-2);
					}
				}
			}
		}
	}

	// .stocks-chart__tooltip

	&__tooltip {

		@include _992 {
			position: absolute;
			left: 0; top: 0;

			padding: 17px 35px;
		}

		pointer-events: none; user-select: none;

		// .stocks-chart__tooltip--block

		&--block {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&:not(:first-child) {
				margin-top: 16px;
			}
		}

		// .stocks-chart__tooltip--currency

		&--currency {
			padding-right: 35px;
			font-weight: 500;
		}

		// .stocks-chart__tooltip--range

		&--range {
			padding-right: 90px;
			font-weight: 500;
		}

		// .stocks-chart__tooltip--info-fx

		&--info-fx {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			> span {
				padding-right: 17px;
				color: var(--text-color);
				font-weight: 500;
				//color: #BAFF62;
			}

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					margin-right: 8px;

					padding: 8px;
					border-radius: 35px;
					background: var(--white-opacity-05);

					> span:first-child {
						color: var(--text-color);
					}
				}
			}
		}

		// .stocks-chart__tooltip--volume

		&--volume {
			display: flex;
			align-items: center;

			font-size: 0.75rem;
			color: var(--stroke);

			@include _768 {
				font-size: 1rem;
			}

			> span {
				padding-right: 10px;
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				li {
					padding: 5px 8px;
					border-radius: 15px;
					@include _768 {
						padding: 8px;
						border-radius: 35px;
					}

					margin-right: 5px;

					font-weight: 500;
					&.success-string {
						background: #101C0E;
					}

					&.danger-string {
						background: #1C0E0E;
					}
				}
			}
		}
	}
}

