.contacts {

	// .contacts__list

	&__list {
		display: grid;

		gap: 16px;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	// .contacts__card

	&__card {

		padding: 16px;

		border-radius: 12px;
		border: 1px solid var(--theme-shade-1);
		background: var(--theme-shade-2);

		h3 {
			font-size: 0.875rem;
			color: var(--text-color-2);
		}

		b {
			font-size: 1.125rem;
			color: var(--text-color);

			padding-right: 16px;
		}

		// .contacts__card--info

		&--info {
			padding: 8px 9px; margin-top: 11px;

			display: inline-flex;
			align-items: center;

			border-radius: 8px;
			border: 1px solid var(--white-opacity-1);
			background: var(--white-opacity-1);

			color: var(--text-color-2);
			font-size: 0.875rem;
			line-height: 150%;

			svg {
				margin-right: 10px;
				flex: 0 0 16px;
				fill: var(--text-color-2);
			}
		}
	}
}
