.reviews {

	padding-top: 50px;
	z-index: auto;

	display: flex;
	flex-direction: column-reverse;

	@include _992 {
		padding-top: 120px;

		display: grid;
		grid-template-columns: auto 60%;
		gap: 0 63px;
	}

	&__background {
		display: none;
		@include _992 {
			display: block;
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			z-index: -1;
			pointer-events: none;

			&--decor {
				position: absolute;

				&:nth-child(1) {
					left: 0; bottom: 0;
					transform: translate(-45%,55%);
					width: 100%;
					aspect-ratio: 1/1;
					border-radius: 50%;
					background: radial-gradient(circle, rgba(0,102,255,0.4) 0%, rgba(0,102,255,0) 50%);
					opacity: 1;
					filter: blur(20px);
				}

				&:nth-child(2) {
					right: 0; bottom: 0;
					transform: translate(20%,45%);
					width: 130%;
					aspect-ratio: 1/1;
					border-radius: 50%;
					z-index: -1;
					background: radial-gradient(circle, rgba(81,150,255,0.2) 0%, rgba(81,150,255,0) 50%);
					opacity: 1;
					filter: blur(20px);
				}
			}
		}
	}

	// .reviews__card

	&__card {

		margin: 60px auto 0;
		align-self: center;

		@include _992 {
			margin-top: 0;
			margin: 0;
		}

		position: relative;
		z-index: 2;

		max-width: 500px; 

		$gradient: linear-gradient(45deg, rgb(27, 85, 129) 0%, #223e5f 20%, #1a2a44 50%,  #2a3842 70%, rgb(80, 114, 61) 100%);
		$gradientMob: linear-gradient(45deg, rgb(25, 73, 110) 0%, #12243a 20%, #0e1b30 50%,  #151e24 70%, rgb(68, 97, 51) 100%);

		// .reviews__card--background

		&--background {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			transform: translate(0,0) rotate(-12deg);
			z-index: -1;

			
			&-panel {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;

				border-radius: 16px;
				background: $gradientMob;
				@include _992 {
					background: $gradient;
				}

			}
			&-decor {
				content: '';
				position: absolute;
				width: 150px;
				aspect-ratio: 1/1;
				border-radius: 40px;
				z-index: -1;
			}

			&-decor:nth-child(2) {
				background: var(--success);
				right: 0; top: 0;
				transform: translate(20%,21%) rotate(-3deg) skewX(-25deg);
				@include _550 {
					transform: translate(22%,21%) rotate(-3deg) skewX(-25deg);
				}
				z-index: -2;
			}

			&-decor:nth-child(3) {
				background: var(--blue);
				left: 0; bottom: 0;
				transform: translate(-20%,-17%) rotate(-5deg) skewX(-25deg);
				@include _550 {
					transform: translate(-21%,-20%) rotate(-5deg) skewX(-25deg);
				}
				z-index: -2;
			}
		}

		// .reviews__card--body

		&--body {
			padding: 20px 20px 34px;

			min-height: 100%;

			border-radius: 16px;
			background: $gradientMob;
			@include _992 {
				background: $gradient;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				border-radius: 16px;
				border: 1px solid var(--white-opacity-1);
				pointer-events: none;
			}

			box-shadow: 0px 62px 101px 0px rgba(0, 0, 0, 0.25);
		}

		// .reviews__card--info

		&--info {
			display: grid;
			grid-template-columns: 88px auto;
		}

		// .reviews__card--avatar

		&--avatar {
			grid-column: 1; grid-row: 1/3;
			margin-right: 24px;
			img {
				border-radius: 16px;
				width: 64px; height: 64px;
				object-fit: cover;
			}
		}

		// .reviews__card--name

		&--name {
			font-size: 1.375rem;
			font-family: var(--title-font);

			grid-column: 2; grid-row: 1;
			align-self: self-end;
		}

		// .reviews__card--proffesion

		&--proffesion {
			font-weight: 500;
			margin-top: 5px;
			grid-column: 2; grid-row: 2;
			line-height: 110%;
			color: var(--white-opacity-5);
		}

		// .reviews__card--text

		&--text {
			margin-top: 15px;

			line-height: 181.25%;

			flex: 1 1 auto;

			padding-right: 30px;
		}

		// .reviews__card--footer

		&--footer {
			margin-top: 20px;
		}

		// .reviews__card--date

		&--date {
			font-weight: 500;
			color: var(--white-opacity-5);
		}
	}

	// .reviews__content

	&__content {
	}

	// .reviews__title

	&__title {
		max-width: 600px;
	}

	// .reviews__text

	&__text {
		margin-top: 16px;
		color: var(--secondary);
		max-width: 370px;
	}

	// .reviews__social-list

	&__social-list {

		margin-top: 21px;

		display: flex;
		flex-wrap: wrap;

		// .reviews__social-list--item

		&--item {
			flex: 0 1 calc(33.333% - 8px);
			margin-right: 8px; margin-top: 8px;
			@include _768 {
				flex: 0 1 calc(33.333% - 16px);
				margin-right: 16px; margin-top: 16px;
			}
		}

		// .reviews__social-list--link

		&--link {
			display: flex;
			align-items: center;

			min-height: 100%;

			text-align: center;
			padding: 25px 15px;
			@include _768 {
				padding: 35px 44px;
			}

			background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.04) 100%);
			border-radius: 16px;

			> * {
				width: 100%;
			}

			* {
				align-self: center;
			}
			//backdrop-filter: blur(106px);

			img {
				object-fit: contain;
				width: 100%; height: auto;
			}
		}
	}
}
