.try-now-2 {

	margin-top: 100px; padding-top: 57px;
	margin-bottom: 20px;

	&::before {
		content: '';
		position: absolute;
		left: 24px; bottom: 0;
		transform: translate(-50%,50%);
		width: 300%; aspect-ratio: 1/1;
		background: radial-gradient(circle, rgba(0,102,255,0.4) 0%, rgba(0,102,255,0) 50%);

		pointer-events: none;
		border-radius: 50%;
		z-index: -1;
		@include _992 {
			display: none;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 24px; top: 0;
		width: calc(100% - (24px * 2)); height: 100%;
		background: var(--primary-gradient); 

		border-radius: 24px;
		z-index: -1;

	}

	// .try-now-2__body

	&__body {
		text-align: center;
		overflow: hidden;
		position: relative;
	}

	// .try-now-2__title

	&__title {
		max-width: 700px;
		margin: 0 auto;
		padding: 0 var(--container-padding);
	}

	// .try-now-2__image

	&__image {

		display: grid;
		> * {
			grid-area: 1/1;
		}

		max-width: 699px; padding: 0 30px;
		margin: 24px auto 0;

		// .try-now-2__image--wrapper

		&--wrapper {
			mix-blend-mode: luminosity;
			margin-bottom: -25%;

			user-select: none; pointer-events: none;
		}

		// .try-now-2__image--decor

		&--decor {
			display: none;
			@include _992 {
				display: block;

				position: absolute;
				mix-blend-mode: luminosity;

				user-select: none; pointer-events: none;

				&:nth-child(2) {
					left: max(30px, calc(50% - 550px)); bottom: -7%;
				}

				&:nth-child(3) {
					right: max(30px, calc(50% - 550px)); bottom: 5%;
				}
			}
		}
	}

	// .try-now-2__footer

	&__footer {
		align-self: self-end;
		justify-self: center;
		margin-bottom: 60px;
	}
}
